<div class="aggregate-container">

<a href="/top">トップへ戻る</a>

<div class="aggregate-header">
    <h2>集計画面</h2>

<%=link_to  "csv出力（全期間、全ユーザ）",stamp_csv_export_path(format: :csv) %>

<%=form_tag("/stamp/day_search",{method: :get}) do %>
  <input class="aggregate-input" type="date" name="date" value="<%=@date%>">
  <%=submit_tag("日別全体検索", class: "btn") %>
<%end%>

<%=form_tag("/stamp/name_search",{method: :get}) do %>
  <input class="aggregate-input" type="text" name="name" value="" placeholder="おなまえ">※必須項目
  <input class="aggregate-input date-search" type="date" name="date_from" value="">
  <input class="aggregate-input date-search" type="date" name="date_to" value="">
  <%=submit_tag("検索", class: "btn") %>
  <button class="btn" type="button" id="form_reset">期間リセット</button>
<%end%>

</div>

<div class="aggregate-table">
<table>
  <tr>
    <th>　名前　</th>
    <th>　始業時刻　</th>
    <th>休憩開始時刻</th>
    <th>業務再開時刻</th>
    <th>　終業時刻　</th>
  </tr>

  <% @stamps.each do |stamp|%>

  <tr>
      <td><%=stamp.name%></td>

    <% if stamp.start == nil %>
      <td>未</td>
    <%else%>
      <td><%=stamp.start.strftime("%H:%M")%></td>
    <%end%>

    <% if stamp.am_finish == nil %>
      <td>未</td>
    <%else%>
      <td><%=stamp.am_finish.strftime("%H:%M")%></td>
    <%end%>

    <% if stamp.pm_start == nil %>
      <td>未</td>
    <%else%>
      <td><%=stamp.pm_start.strftime("%H:%M")%></td>
    <%end%>

    <% if stamp.finish == nil %>
      <td>未</td>
    <%else%>
      <td><%=stamp.finish.strftime("%H:%M")%></td>
    <%end%>
  </tr>
  <%end%>

  <tr style="font-weight: bold; font-size:16px;">
    <td>合計：<%=@stamps.count %>人</td>
    <td>合計：<%=@stamps.where.not(start:nil).count %>　人</td>
    <td>合計：<%=@stamps.where.not(am_finish:nil).count %>　人</td>
    <td>合計：<%=@stamps.where.not(pm_start:nil).count %>　人</td>
    <td>合計：<%=@stamps.where.not(finish:nil).count %>　人</td>
  </tr>

</table>
</div>

</div>
